@charset "UTF-8";
body {
    font-family: Arial, Helvetica, sans-serif;
}
div {
    display: inline-block;
    background-color: lightcyan;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}
div:hover {
    background-image: linear-gradient( 135deg, red 20%, violet 80%);
}
#mouse > p {
    display: none;
}    
#mouse:hover > p {
    display: block;
    color :white;
    background-color: black;
    text-align: center;
}
#mouse:hover {
    color: aqua;
}
a {
    color: coral;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color: chocolate;
}
a:hover {
    color: black;
    text-decoration: underline;
}
a:active {
    color: blueviolet;
}
.special {
    background-color: cadetblue;
}
.special::after {
    content:' <--' ;
}
.special::before{
    content: '--> ';
}